# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
city_weather_df = pd.read_csv("../output_data/clean_cities.csv", usecols=["City", "Country", "Latitude", "Longitude", 
                                                                          "Temperature (F)", "Min Temperature (F)", 
                                                                          "Max Temperature (F)", "Wind (MPH)", 
                                                                          "Humidity (%)"])
city_weather_df

coords = city_weather_df[["Latitude", "Longitude"]]
humidity = city_weather_df["Humidity (%)"]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key = g_key)

fig = gmaps.figure(zoom_level=3, center=(0,0))

heat_layer = gmaps.heatmap_layer(coords, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
temp_weather_df = city_weather_df.loc[(city_weather_df["Temperature (F)"] > 55) & \
                                             (city_weather_df["Wind (MPH)"] > 15)]
kite_flying_weather_df = temp_weather_df.dropna()

kite_flying_weather_df

,City,Country,Latitude,Longitude,Temperature (F),Min Temperature (F),Max Temperature (F),Humidity (%),Wind (MPH)
5,rikitea,PF,-23.12,-134.97,72.84,72.84,72.84,80.0,16.15
12,altamont,US,42.21,-121.74,77.40,75.00,82.40,20.0,16.11
14,atuona,PF,-9.80,-139.03,78.76,78.76,78.76,76.0,16.26
25,port blair,IN,11.67,92.75,82.72,82.72,82.72,80.0,27.04
40,esperance,AU,-33.87,121.90,57.20,57.20,57.20,82.0,19.46
52,malinovoye ozero,RU,51.68,79.78,74.71,74.71,74.71,47.0,16.11
67,bambous virieux,MU,-20.34,57.76,69.42,69.01,69.80,64.0,17.22
77,kavaratti,IN,10.57,72.64,82.44,82.44,82.44,79.0,23.98
81,mahajanga,MG,-15.72,46.32,68.54,68.54,68.54,57.0,16.46
82,lamu,KE,-2.27,40.90,74.95,74.95,74.95,82.0,16.42
101,hirara,JP,24.80,125.28,79.86,78.80,80.60,88.0,27.51
115,kapaa,US,22.08,-159.32,81.63,80.01,82.99,69.0,17.22
125,winslow,US,35.02,-110.70,91.40,91.40,91.40,21.0,16.11
127,geraldton,AU,-28.77,114.60,59.00,59.00,59.00,67.0,17.22
134,butaritari,KI,3.07,172.79,82.99,82.99,82.99,72.0,17.20
138,mahebourg,MU,-20.41,57.70,69.80,69.80,69.80,64.0,17.22
158,erenhot,CN,43.65,111.98,74.08,74.08,74.08,43.0,15.23
159,makakilo city,US,21.35,-158.09,83.52,78.80,87.80,48.0,16.46
165,hobyo,SO,5.35,48.53,78.53,78.53,78.53,71.0,19.35
261,souillac,MU,-20.52,57.52,69.80,69.80,69.80,64.0,17.22
280,los llanos de aridane,ES,28.66,-17.92,76.73,71.60,80.01,88.0,17.22
318,moussoro,TD,13.64,16.49,77.02,77.02,77.02,81.0,18.59
319,kahului,US,20.89,-156.47,79.34,75.00,87.80,48.0,24.16
322,tual,ID,-5.67,132.75,77.70,77.70,77.70,82.0,18.43
338,guerrero negro,MX,27.98,-114.06,73.29,73.29,73.29,72.0,16.08
344,yar-sale,RU,66.83,70.83,63.36,63.36,63.36,81.0,19.24
364,sola,VU,-13.88,167.55,75.51,75.51,75.51,86.0,19.62
367,ati,TD,13.22,18.34,74.84,74.84,74.84,84.0,15.57
371,ericeira,PT,38.96,-9.42,64.67,64.00,64.99,94.0,24.83
373,richards bay,ZA,-28.78,32.04,62.49,62.49,62.49,76.0,15.59
383,pingzhuang,CN,42.04,119.29,89.04,89.04,89.04,25.0,19.53
409,aguimes,ES,27.91,-15.45,76.21,73.00,78.80,44.0,27.51
418,sambava,MG,-14.27,50.17,71.19,71.19,71.19,82.0,18.81
421,jiayuguan,CN,39.82,98.30,78.75,78.75,78.75,16.0,15.37
489,bandarbeyla,SO,9.49,50.81,80.80,80.80,80.80,56.0,27.31
522,uravakonda,IN,14.95,77.27,75.54,75.54,75.54,80.0,15.43
536,cockburn town,TC,21.46,-71.14,82.67,82.67,82.67,83.0,15.95
539,chifeng,CN,42.27,118.96,86.52,86.52,86.52,28.0,21.25
550,mareeba,AU,-17.00,145.43,73.22,72.00,75.20,60.0,17.22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = kite_flying_weather_df[["Latitude", "Longitude", "City", "Country"]]
hotel_df["Hotel Name"] = ""

hotel_df.head()

C:\Users\sadlo\Anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Latitude  Longitude        City Country Hotel Name
5     -23.12    -134.97     rikitea      PF
12     42.21    -121.74    altamont      US
14     -9.80    -139.03      atuona      PF
25     11.67      92.75  port blair      IN
40    -33.87     121.90   esperance      AU

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure